body{
    background: #F2F2F2;
}
.top-header {
    float: right;
}

.top-header svg {
    margin-right: 10px;
}

.top-header a {
    text-decoration: none;
    color: #716C80;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

p.top-left {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #716C80;
    margin: 0;
}

.header-top {
    padding: 24px 0;
    border-bottom: 1px solid rgba(225, 228, 237, 0.8);
}

button.login {
    border-radius: 50px;
    margin: 0px 11px;
}